.divHome{
    width: 100%;
    display: flex;
    position: relative;
    background: radial-gradient(
        ellipse at left bottom,
        rgba(22, 24, 47, 1) 0%,
        rgba(38, 20, 72, 0.9) 59%,
        rgba(17, 27, 75, 0.9) 100%
      );
}
  
.content{
    flex: 6;
    padding: 40px 50px;
}

.containerTasks{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

.containerTask{
    border: 1px solid #ccc;
    padding: 15px 10px;
    margin-bottom: 10px;

}

.containerTaskTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:  20px;
    padding: 0 10px;
}

.containerTaskTitle h3{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.containerTaskTitle p{
    font-size: 30px;
    color: #c3c3c3; 
    font-family: 'Roboto', sans-serif;
}

.containerTaskDescription{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.containerTaskDescription p{
    flex: 8; 
    width: 100%;
}

.containerTaskDescription .editIcon{
    flex: 1;
    cursor: pointer;
}

.containerTaskResponsible{
    display: flex;
    color: #707070;
}

.containerTaskResponsible p{
    display: flex;
    color: #000;
    margin-left: 5px;
}
.containerHistory{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color:  rgba(17, 27, 75, 0.9);
    cursor: pointer;

}
.containerHistory a{
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.listHistory {
    margin-left:20px;
    list-style: none;
}
.listHistory li{
    font-size: 20px;
    font-weight: bold;
    color:rgba(17, 27, 75, 0.9);
    display: flex;
    align-items: center;
    
}
.containerModal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
}
.modal{
    width: 60%;
    height: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    padding: 30px 50px;
}
.modal h3{
    font-size: 35px;
    margin-bottom: 30px;
}
#inputStatus, #inputEditReponsible{
    height: 70px;
    font-size: 30px;
    padding: 10px 30px;
    margin-bottom: 100px;
    border-radius: 30px;
    border: 2px solid rgba(17, 27, 75, 0.9);

}

#inputStatus option {
    background-color: rgba(17, 27, 75, 0.9);
    color: #fff;
    padding-bottom: 10px;
    border-radius: 30px;
}

#btnSendUpdate{
    width: 60%;
    height: 60px;
    align-self: center;
}
.closeModal{
    cursor: pointer;
    margin-bottom: 20px;
}
.finding{
    font-size: 40px;
    text-align: center;
}

@media(max-width: 1024px) {
    .divHome{
        min-height: 100vw;
    }
    .content{
        padding: 20% 15%;
        width: 100vw;
    }
    .containerTaskTitle h3{
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }
    .containerTaskTitle p{
        font-size: 20px;
        color: #c3c3c3;
        font-family: 'Roboto', sans-serif;
    }
    .containerTaskResponsible {
        flex-wrap: wrap;
    }
    .containerTaskResponsible p{
        font-size: 10;
    }
    .containerTaskTitle{
        flex-direction: column;
    }
    .modal{
        width: 90%;
        height: 80%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 10px;
        padding: 30px 50px;
    }
    .modal h3{
        font-size: 17px;
        margin-bottom: 30px;
    }
    #inputStatus, #inputEditReponsible{
        height: 60px;
        font-size: 20px;
        padding: 10px 30px;
        margin-bottom: 50px;
        border-radius: 30px;
        border: 2px solid rgba(17, 27, 75, 0.9);
    }
    .content{
        padding: 70px 10px;
    }
}
